XML-skeemat/julkaisut_uusi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:julkaisut="urn:mace:funet.fi:julkaisut/2015/03/01" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="urn:mace:funet.fi:julkaisut/2015/03/01" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.12" vc:minVersion="1.0">
	
	<xs:include schemaLocation="tyypit_uusi.xsd">
		<xs:annotation>
			<xs:documentation xml:lang="fi">
				Tiedonsiirtoelementtien tyypit.
			</xs:documentation>
		</xs:annotation>
	</xs:include>
	
	<!-- Julkaisut - juurielementti -->
	
	<xs:element name="Julkaisut">
		<xs:complexType>
			<xs:sequence>
			
				<!-- Julkaisu - yksittäisen julkaisun tiedot -->
				
				<xs:element name="Julkaisu" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							
							<xs:element name="OrganisaatioTunnus" type="julkaisut:OrganisaatioTunnusTyyppi" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Organisaatiotunnus</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="OrgSektoriKoodi" type="julkaisut:OrgSektoriKoodiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Organisaation luokittelu</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="IlmoitusVuosi" type="julkaisut:VuosiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Vuosiluku muodossa YYYY</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="JulkaisunTunnus" type="julkaisut:JulkaisunTunnusTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisun yksilöivä tunniste</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="YhteisjulkaisunTunnus" type="julkaisut:JulkaisunTunnusTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Yhteisjulkaisun yksilöivä tunniste</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="JulkaisunTilaKoodi" type="julkaisut:JulkaisunTilaKoodiTyyppi" default="1" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisun tila, tässä raportoidaan julkaisun valmiusaste, tietovaranto asettaa tämän elementin</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="JulkaisunOrgTunnus" type="julkaisut:JulkaisunOrgTunnusTyyppi" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Korkeakoulun oma tunnistenumero julkaisulle</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="JulkaisunOrgYksikot" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="YksikkoKoodi" minOccurs="0" maxOccurs="unbounded">
										 <xs:complexType>
												<xs:simpleContent>
													<xs:extension base="julkaisut:JulkaisunOrgYksikkoKoodiTyyppi">
														<xs:attribute name="Vanhempi" type="julkaisut:JulkaisunOrgYksikkoKoodiTyyppi" use="optional"/>
													</xs:extension>
												</xs:simpleContent>
										 </xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
											
							<xs:element name="JulkaisuVuosi" type="julkaisut:VuosiTyyppi" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Vuosi, jolloin julkaisu on julkaistu ensimmäistä kertaa versiona, jossa on täydelliset viitetiedot.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="BibliografinenVuosi" type="julkaisut:VuosiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisun viitetietoihin merkittävä vuosi (esim. painetun kokooomateoksen julkaisuvuosi, kun artikkeli on julkaistu sähköisesti ennen emoteoksen julkaisua). Voi olla myös sama kuin raportoitu julkaisuvuosi.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="JulkaisunNimi" type="julkaisut:JulkaisunNimiTyyppi" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisun nimi siten kun se on artikkelissa tai teoksessa mainittu. Vieraskielisen julkaisun nimi voidaan tarvittaessa raportoida translitteroituna versiona.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="TekijatiedotTeksti" type="julkaisut:TekijatiedotTekstiTyyppi" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisun täydelliset tekijätiedot siinä muodossa ja järjestyksessä, jossa ne on listattu alkuperäisessä julkaisussa tai lähdetietokannassa.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="TekijoidenLkm" type="julkaisut:TekijoidenLkmTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisun tekijöiden kokonaislukumäärä. Jos ylittää 50, riittää mer-kintä ”50”.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="SivunumeroTeksti" type="julkaisut:SivunumeroTekstiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisun sivunumerot, joilla artikkeli on ilmestynyt siinä muodossa kuin ne on esitetty alkuperäisessä artikkelissa tai lähdetietokannassa.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="Artikkelinumero" type="julkaisut:ArtikkelinumeroTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Artikkelinumero, jolla artikkeli on ilmestynyt (jos olemassa) siinä muodossa kuin ne on esitetty alkuperäisessä artikkelissa tai lähdetietokannassa.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="Avainsanat" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Avainsana" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AvainsanaTeksti" minOccurs="1" maxOccurs="1">
														<xs:annotation>
															<xs:documentation xml:lang="fi">Artikkelin avainsana</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="julkaisut:AvainsanaTekstiTyyppi"/>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="AvainsanaUri" minOccurs="0" maxOccurs="1">
														<xs:annotation>
															<xs:documentation xml:lang="fi">Avainsanan URI</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="julkaisut:AvainsanaUriTyyppi"/>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="AvainsanaOntologia" minOccurs="0" maxOccurs="1">
														<xs:annotation>
															<xs:documentation xml:lang="fi">Avainsanan ontologian lyhenne</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="julkaisut:AvainsanaOntologiaTyyppi"/>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							
							<xs:element name="Tiivistelmat" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Tiivistelma" minOccurs="1" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="fi">Julkaisun tiivistelmä eli abstrakti.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="julkaisut:TiivistelmaTyyppi">
														<xs:attribute name="Kieli" type="julkaisut:JulkaisunKieliKoodiTyyppi"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
								<xs:unique name="UniikkiTiivistelmaKieli">
									<xs:selector xpath="julkaisut:Tiivistelma"/>
									<xs:field xpath="@Kieli"/>
								</xs:unique>
							</xs:element>
							
							<xs:element name="ISBN" type="julkaisut:ISBNTyyppi" minOccurs="0" maxOccurs="2">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisun ISBN-tunniste</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="JufoTunnus" type="julkaisut:JufoTunnusTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisukanavan Jufo-ID-tunniste</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="JufoLuokkaKoodi" type="julkaisut:JufoLuokkaKoodiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisukanavan Jufo-tasoluokka</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="JulkaisumaaKoodi" type="julkaisut:JulkaisumaaKoodiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Lehden, sarjan, monografian tai emojulkaisun julkaisumaa</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="LehdenNimi" type="julkaisut:LehdenNimiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Lehden/sarjan nimi mahdollisimman täydellisenä ja kokonaan auki kirjoitettuna (ei lyhenteitä).</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="ISSN" type="julkaisut:ISSNTyyppi" minOccurs="0" maxOccurs="2">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Lehden, monografiaa tai emojulkaisua julkaisseen sarjan ISSN-numero ensisijaisesti painetun version mukaisesti. Jos painettua versiota ei ole, ilmoitetaan elektronisen version ISSN-numero. Taidealan julkaisulle raportoidaan mikäli julkaisulla on ISSN-numero.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="VolyymiTeksti" type="julkaisut:VolyymiTekstiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Lehden tai sarjan volyymi, jossa artikkeli on ilmestynyt.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="LehdenNumeroTeksti" type="julkaisut:LehdenNumeroTekstiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Lehden tai sarjan numero, jossa artikkeli on ilmestynyt.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="KonferenssinNimi" type="julkaisut:KonferenssinNimiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Konferenssin vakiintunut nimi</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="KustantajanNimi" type="julkaisut:KustantajanNimiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisun kustantajan nimi mahdollisimman täydellisenä ja kokonaan auki kirjoitettuna. Taidealan julkaisun kustantaja tai julkaisija on se ulkopuolinen taho, joka on mahdollistanut taiteellisen toiminnan tuloksen julkiseksi tekemisen. Esimerkiksi tuottaja, galleristi tai kustantaja. Yhteystiedot raportoidaan tarvittaessa.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="KustannuspaikkaTeksti" type="julkaisut:KustannuspaikkaTekstiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisun kustantajan nimen yhteydessä ilmoitettu paikkakunta tai paikkakunnat.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="EmojulkaisunNimi" type="julkaisut:EmojulkaisunNimiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Toimitetun teoksen nimi, jossa artikkeli on julkaistu. Taidealan julkaisun nimi, jonka osatoteutus raportoitava julkaisu on (jos raportoidaan F2). Tieto kerrotaan, jos se on tiedossa.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="EmojulkaisunToimittajatTeksti" type="julkaisut:EmojulkaisunToimittajatTekstiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Toimitetun teoksen toimittajat siinä muodossa ja järjestyksessä, jossa ne on listattu alkuperäisessä julkaisussa tai lähdetietokannassa.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="JulkaisutyyppiKoodi" type="julkaisut:JulkaisutyyppiKoodiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisutyyppiluokituksen mukainen luokka. Saa olla tyhja vain tiedonkeruuseen kuulumattomille julkaisuille.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<!-- Attribuuttipohjaisen julkaisutyyppiluokittelun elementit alkavat -->
							
							<xs:element name="MuotoKoodi" type="julkaisut:MuotoKoodiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisun muoto. Hyödynnetään nykyisiä tiedonkeruukäsikirjan määrittelyitä mahdollisuuksien mukaan. Artikkeli sisältää alkuperäis- ja katsausartikkelit, kirjan tai lehden johdannot ja esipuheet, lyhyet tutkimusselostukset, pääkirjoitukset, keskustelupuheenvuorot ja kommentit. Erillisteos sisältää monografiat/kirjat, tutkimus- ja kehitystyöhön perustuva kehittämis- tai tutkimusraportti, selvitykset, ns. white paperit, working papers- ja discussion papers -tyyppiset julkaisut. Toimitustyö sisältää useista eri kirjottajien artikkeleista koostuvat kirjat tai lehden erikoisnumerot, toimitustyöt kokoomateoksissa. Abstrakti sisältää konferenssiesitelmien abstraktit, laajennetut abstraktit. Posteri sisältää konferenssiesitelmien posterit.</xs:documentation>
								</xs:annotation>
							</xs:element>	
							
							<xs:element name="YleisoKoodi" type="julkaisut:YleisoKoodiTyyppi" minOccurs="0" maxOccurs="1" nillable="true">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisukanavan kohdeyleisön perusteella julkaisulle määritellään YleisöKoodi. Hyödynnetään nykyisiä tiedonkeruukäsikirjan määrittelyitä, jotka yhteneväisiä myös Julkaisufoorumin määrittelyn kanssa</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="EmojulkaisuntyyppiKoodi" type="julkaisut:EmojulkaisuntyyppiKoodiTyyppi" minOccurs="0" maxOccurs="1" nillable="true">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Määritellään julkaisun alusta ja hyödynnetään mahdollisuuksien mukaan tiedonkeruukäsikirjan määritelmiä. Lehti sisältää tieteelliset aikakauslehdet, ammattilehdet. Kokoomateos sisältää tieteelliset kokoomateokset, tieteelliset vuosikirjat ja vastaavat, ammatilliset käsi- tai opaskirjat, ammatilliset tietojärjestelmät tai kokoomateokset, oppikirja-aineistot, lyhyet ensyklopediatekstit. Konferenssialusta sisältää konferenssin painetut tai julkisesti saatavilla olevat julkaisut, ns. proceedings julkaisut.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="ArtikkelityyppiKoodi" type="julkaisut:ArtikkelityyppiKoodiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Artikkelin tarkempi määrittely. Muu artikkeli sisältää muihin luokkiin kuulumattomat, muodoltaan uudet artikkelit esim. kommenttikontribuutiot, ns. mikroartikkelit. Alkuperäisartikkeli koostuu pääosin julkaisemattomasta materiaalista. Katsausartikkeli perustuu aikaisempiin julkaisuihin aihepiiristä ja niitä esiintyy erityisesti lääke- ja terveystieteiden parissa. Data-artikkeli sisältää ns. data journals julkaisuissa ilmestyneet, tutkimusaineistoja kuvailevat artikkelit.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="VertaisarvioituKytkin" type="julkaisut:KyllaEiTyyppi" minOccurs="0" maxOccurs="1" nillable="true">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Tieto, onko julkaisu vertaisarvioitu. Hyödynnetään tiedonkeruukäsikirjan määritelmää.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="RaporttiKytkin" type="julkaisut:KyllaEiTyyppi" minOccurs="0" maxOccurs="1" nillable="true">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Tieto, onko julkaisu raportti. Raportti sisältää tieteelliseen työhön / tutkimus- ja kehitystyöhön perustuvat julkaistut kehittämis- tai tutkimusraportit taikka selvitykset.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="OpinnayteKoodi" type="julkaisut:OpinnayteKoodiTyyppi" minOccurs="0" maxOccurs="1" nillable="true">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Tieto, onko julkaisu opinnäytetyö. Hyödynnetään tiedonkeruukäsikirjan määritelmiä. Monografiaväitöskirja sisältää yliopiston sarjoissa ja yliopiston laitossarjoissa julkaistut monografiaväitöskirjat, kustannetut monografiaväitöskirjat tai omakustanteena julkaistut monografiaväitöskirjat. Kokoomaväitöskirja sisältää artikkeliväitöskirjat, vaikka artikkelit olisi jo ilmoitettu omina julkaisuinaan.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="TaidetyyppiKoodi" type="julkaisut:TaidetyyppiKoodiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Tieto, onko kyseessä taiteellinen julkaisu.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="AVSovellusTyyppikoodi" type="julkaisut:AVSovellusTyyppikoodiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Tieto, onko kyseessä Audiovisuaalinen julkaisu.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<!-- Attribuuttipohjaisen julkaisutyyppiluokittelun elementit päättyvät -->
							
							<xs:element name="TieteenalaKoodit" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TieteenalaKoodi" minOccurs="0" maxOccurs="6">
											<xs:annotation>
												<xs:documentation xml:lang="fi">1-6 tieteenalaa mukaan siinä järjestyksessä, mitä tieteenalaa julkaisu eniten koskee</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="julkaisut:TieteenalaKooditTyyppi">
														<xs:attribute name="JNro" type="julkaisut:TKAlaAttribuutti" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="TaiteenalaKoodit" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TaiteenalaKoodi" minOccurs="0" maxOccurs="7">
											<xs:annotation>
												<xs:documentation xml:lang="fi">1-7 taiteenalaa. Taidealan julkaisulle vähintään yksi arvo on pakollinen</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="julkaisut:TaiteenalaKooditTyyppi">
														<xs:attribute name="JNro" type="julkaisut:TaideAlaAttribuutti" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>	
							
							<xs:element name="KoulutusalaKoodit" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="KoulutusalaKoodi" minOccurs="0" maxOccurs="6">
											<xs:annotation>
												<xs:documentation xml:lang="fi">1-6 koulutusalaa mukaan siinä järjestyksessä, mitä tieteenalaa julkaisu eniten koskee</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="julkaisut:KoulutusalaKooditTyyppi">
														<xs:attribute name="JNro" type="julkaisut:TKAlaAttribuutti" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							
							<xs:element name="YhteisjulkaisuKVKytkin" type="julkaisut:KyllaEiTyyppi" minOccurs="0" maxOccurs="1" nillable="true">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Tekijöistä vähintään yksi on affilioitunut muuhun kuin suomalaisen organisaatioon (myös jos tekijällä on affiliaatio sekä suomalainen että ulkomaalaiseen organisaatioon).</xs:documentation>
								</xs:annotation>
							</xs:element>

							<xs:element name="YhteisjulkaisuSHPKytkin" type="julkaisut:KyllaEiTyyppi" minOccurs="0" maxOccurs="1" nillable="true">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Tekijöistä vähintään yksi on affilioitunut yliopistolliseen sairaanhoitopiiriin</xs:documentation>
								</xs:annotation>
							</xs:element>

							<xs:element name="YhteisjulkaisuTutkimuslaitosKytkin" type="julkaisut:KyllaEiTyyppi" minOccurs="0" maxOccurs="1" nillable="true">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Tekijöistä vähintään yksi on affilioitunut valtion tutkimuslaitokseen</xs:documentation>
								</xs:annotation>
							</xs:element>

							<xs:element name="YhteisjulkaisuMuuKytkin" type="julkaisut:KyllaEiTyyppi" minOccurs="0" maxOccurs="1" nillable="true">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Tekijöistä vähintään yksi on affilioitunut muuhun kotimaiseen tutkimusorganisaatioon kuin korkeakouluun, yliopistolliseen sairaanhoitopiiriin tai valtion tutkimuslaitokseen</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="JulkaisunKansainvalisyysKytkin" type="julkaisut:KyllaEiTyyppi" minOccurs="0" maxOccurs="1" nillable="true">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Kotimaisen julkaisun julkaisija on suomalainen tai se on ensisijai-sesti julkaistu Suomessa. Kansainvälisen julkaisun julkaisija ei ole suomalainen tai se on ensisijaisesti julkaistu muualla kuin Suomessa.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="JulkaisunKieliKoodi" type="julkaisut:JulkaisunKieliKoodiTyyppi" minOccurs="0" maxOccurs="1" nillable="true">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Kieli, jolla julkaisu on kirjoitettu. Vuoden 2003 TK:n kielikoodiston mukainen arvo</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="AvoinSaatavuusKoodi" type="julkaisut:AvoinSaatavuusKoodiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisun avoin saatavuus seuraavan luokituksen mukaisesti: ei open access/ open access/open access, rinnakkaistallennettu/ei tietoa. Taidealan julkaisulle imoitetaan, jos on sovellettavissa raportoitavaan taidealan julkaisuun.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<!-- Avoin saatavuus -tietoa laajentavat elementit alkavat -->
							
							<xs:element name="AvoinSaatavuusKytkin" type="julkaisut:KyllaEiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisun tämänhetkinen OA-status kustantajan palvelussa.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="JulkaisuKanavaOA" type="julkaisut:JulkaisuKanavaOATyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisukanavan avoin saatavuus.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="LisenssiKoodi" type="julkaisut:LisenssiKoodiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Kustantajan palvelussa sijaitsevan julkaisun lisenssi.</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="AvoinSaatavuusJulkaisumaksu" type="julkaisut:AvoinSaatavuusJulkaisumaksuTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Organisaation julkaisun avoimesta saatavuudesta kustantajalle maksaman maksun suuruus, euroa</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="AvoinSaatavuusJulkaisumaksuVuosi" type="julkaisut:VuosiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Organisaation julkaisun avoimesta saatavuudesta kustantajalle maksetun maksun maksuvuosi</xs:documentation>
								</xs:annotation>
							</xs:element>

							<!-- Avoin saatavuus -tietoa laajentavat elementit päättyvät -->
							
							<xs:element name="EVOjulkaisuKytkin" type="julkaisut:KyllaEiTyyppi" minOccurs="0" maxOccurs="1" nillable="true">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Ns. EVO-hakemukseen (erityisvaltionosuushakemus) sosiaali- ja terveysministeriölle tulevat artikkelit</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="YhteisjulkaisuYritysKytkin" type="julkaisut:KyllaEiTyyppi" minOccurs="0" maxOccurs="1" nillable="true">
								<xs:annotation>
									<xs:documentation xml:lang="fi">yhteisjulkaisu yrityksen kanssa</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="RinnakkaistallennettuKytkin" type="julkaisut:KyllaEiTyyppi" minOccurs="0" maxOccurs="1" nillable="true">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisu rinnakkaistallennettu</xs:documentation>
								</xs:annotation>							
							</xs:element>
							
							<!-- Rinnakkaistallennuksen elementit alkavat -->
							
							<xs:element name="Rinnakkaistallennettu" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="RinnakkaistallennusOsoiteTeksti" minOccurs="0" maxOccurs="1">
											<xs:annotation>
												<xs:documentation xml:lang="fi">Tallennetun version verkko-osoite vapaamuotoinen tekstikenttä, pakollinen jos JulkaisuRinnakkaistallennettu=1</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="julkaisut:PysyvaOsoiteTekstiTyyppi">
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="RinnakkaistallennusVersioKoodi" type="julkaisut:RinnakkaistallennusVersioKoodiTyyppi" minOccurs="0" maxOccurs="1">
											<xs:annotation>
												<xs:documentation xml:lang="fi">Rinnakkaistallennetun julkaisun versio.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RinnakkaistallennusLisenssiKoodi" type="julkaisut:RinnakkaistallennusLisenssiKoodiTyyppi" minOccurs="0" maxOccurs="1">
											<xs:annotation>
												<xs:documentation xml:lang="fi">Rinnakkaistallennetun julkaisun lisenssi.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RinnakkaistallennusEmbargoPvm" type="julkaisut:PvmTyyppi" minOccurs="0" maxOccurs="1">
											<xs:annotation>
												<xs:documentation xml:lang="fi">Päivämäärä, jolloin rinnakkaistallennetun julkaisun embargoaika raukeaa.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							
							<!-- Rinnakkaistallennuksen elementit päättyvät -->
							
							<!-- Preprint elementit alkavat -->
							
							<xs:element name="PreprintKytkin" type="julkaisut:KyllaEiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisusta on saatavilla preprint versio organisaatio-tai tieteenalakohtaisessa julkaisuarkistossa.</xs:documentation>
								</xs:annotation>
							</xs:element>

							<xs:element name="Preprinttallennetut" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Preprinttallennus" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PreprintLisenssiKoodi" type="julkaisut:PreprintLisenssiKoodiTyyppi" minOccurs="0" maxOccurs="1">
														<xs:annotation>
															<xs:documentation xml:lang="fi">Preprint julkaisun lisenssi.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="PreprintOsoiteTeksti" type="julkaisut:PysyvaOsoiteTekstiTyyppi" minOccurs="0" maxOccurs="1">
														<xs:annotation>
															<xs:documentation xml:lang="fi">Organisaatio- tai tieteenalakohtaisen julkaisuarkiston preprint version verkko-osoite (esim. URN).</xs:documentation>
														</xs:annotation>
													</xs:element>								
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							
							<!-- Preprint elementit päättyvät -->	
							
							<xs:element name="DOI" type="julkaisut:DOITyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">DOI-tunniste</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="PysyvaOsoiteTeksti" type="julkaisut:PysyvaOsoiteTekstiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisun pysyviin tunnisteisiin (esim. DOI, URN tai handle) perus-tuva verkko-osoite, joka vie suoraan julkaisun kokotekstiversioon (vapaasti saatavilla olevaan tai kustantajan palvelimella sijaitse-vaan käyttöoikeudeltaan rajoitettuun versioon).</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="JuuliOsoiteTeksti" type="julkaisut:PysyvaOsoiteTekstiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Linkki julkaisun tietoihin Juulissa</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="LahdetietokannanTunnus" type="julkaisut:LahdetietokannanTunnusTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Julkaisun tunniste tai ID-numero tietokannassa, josta sen tietue on haravoitu</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="Tekijat" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Tekija" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Sukunimi" type="julkaisut:NimiTyyppi" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Etunimet" type="julkaisut:NimiTyyppi" minOccurs="0" maxOccurs="1"/>
													<xs:element name="Yksikot" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="YksikkoKoodi" minOccurs="0" maxOccurs="unbounded">
																 <xs:complexType>
																	<xs:simpleContent>
																		<xs:extension base="julkaisut:JulkaisunOrgYksikkoKoodiTyyppi">
																		<xs:attribute name="Vanhempi" type="julkaisut:JulkaisunOrgYksikkoKoodiTyyppi" use="optional"/>
																		</xs:extension>
																	</xs:simpleContent>
																</xs:complexType>
															</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ORCID" type="julkaisut:ORCIDTyyppi" minOccurs="0" maxOccurs="1"/>
													<xs:element name="Rooli" type="julkaisut:RooliKooditTyyppi" minOccurs="0" maxOccurs="1"></xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							
							<xs:element name="VuosiEarlyAccess" type="julkaisut:VuosiTyyppi" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Early access vuosi</xs:documentation>
								</xs:annotation>
							</xs:element>
							
							<xs:element name="Rahoituspaatokset" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Rahoituspaatos" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="RahoituspaatosID" minOccurs="0" maxOccurs="1">
														<xs:annotation>
															<xs:documentation xml:lang="fi">Rahoituspäätöksen tunniste</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="julkaisut:RahoituspaatosIDTyyppi">
																	<xs:attribute name="IDTyyppi" type="julkaisut:IDTyyppiRahoituspaatosHanke" use="required">
																		<xs:annotation>
																			<xs:documentation xml:lang="fi">Rahoituspäätöksen tunnisteen tyyppi</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="RahoittajaID" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation xml:lang="fi">Rahoittajan tunniste</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="julkaisut:RahoittajaIDTyyppi">
																	<xs:attribute name="IDTyyppi" type="julkaisut:IDTyyppiRahoituspaatosHanke" use="required">
																		<xs:annotation>
																			<xs:documentation xml:lang="fi">Rahoittajan tunnisteen tyyppi</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="RahoittajanNimi" type="julkaisut:RahoittajanNimiTyyppi" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation xml:lang="fi">Rahoittajan nimi</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							
							<xs:element name="Hankkeet" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Hanke" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="HankeID" minOccurs="1" maxOccurs="1">
														<xs:annotation>
															<xs:documentation xml:lang="fi">Hankkeen tunniste</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="julkaisut:HankeIDTyyppi">
																	<xs:attribute name="IDTyyppi" type="julkaisut:IDTyyppiRahoituspaatosHanke" use="required">
																		<xs:annotation>
																			<xs:documentation xml:lang="fi">Hankkeen tunnisteen tyyppi</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>	
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
								
							<xs:element name="Infrastruktuurit" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Infrastruktuuri" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="InfrastruktuuriID" minOccurs="1" maxOccurs="1">
														<xs:annotation>
															<xs:documentation xml:lang="fi">Infrastruktuurin tunniste</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="julkaisut:InfrastruktuuriIDTyyppi">
																	<xs:attribute name="IDTyyppi" type="julkaisut:IDTyyppiInfrastruktuuriAineisto" use="required">
																		<xs:annotation>
																			<xs:documentation xml:lang="fi">Infrastruktuurin tunnisteen tyyppi</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>	
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="Aineistot" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Aineisto" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AineistoID" minOccurs="1" maxOccurs="1">
														<xs:annotation>
															<xs:documentation xml:lang="fi">Aineiston tunniste</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="julkaisut:AineistoIDTyyppi">
																	<xs:attribute name="IDTyyppi" type="julkaisut:IDTyyppiInfrastruktuuriAineisto" use="required">
																		<xs:annotation>
																			<xs:documentation xml:lang="fi">Aineiston tunnisteen tyyppi</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>	
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							
							<xs:element name="TaidealanTyyppiKategoria" type="julkaisut:LisatietoTaidealanTyyppiKategoriaTyyppi" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="fi">Koodiston mukainen taidealan tyyppikategoria.</xs:documentation>
								</xs:annotation>
							</xs:element>							
	
							<xs:element name="Lisatiedot" minOccurs="0" maxOccurs="1">							
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Lisatieto" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation xml:lang="fi">Lisätietokenttä, jonka attribuuteilla voidaan ilmoittaa tietomallin kentille lisätietoja.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="julkaisut:LisatietoTyyppi">
													<xs:attribute name="tyyppi" type="julkaisut:LisatietoAttribuutti" use="required"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>											
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="YhteisJulkaisu" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="JulkaisunTunnus" type="julkaisut:JulkaisunTunnusTyyppi" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation xml:lang="fi">Julkaisun yksilöivä tunniste.</xs:documentation>
										</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							
						</xs:sequence>	
					</xs:complexType>
				</xs:element>
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
